@font-face{font-family:Mitra;font-weight:normal;font-style:normal;src:url("../font/BMitra-Regular.eot");src:url("../font/BMitra-Regular.eot?#iefix") format("embedded-opentype"),url("../font/BMitra-Regular.woff") format("woff"),url("../font/BMitra-Regular.ttf") format("truetype"),url("../font/BMitra-Regular.svg#Mitra") format("svg")}@font-face{font-family:Mitra;font-weight:bold;font-style:normal;src:url("../font/BMitra-Bold.eot");src:url("../font/BMitra-Bold.eot?#iefix") format("embedded-opentype"),url("../font/BMitra-Bold.woff") format("woff"),url("../font/BMitra-Bold.ttf") format("truetype"),url("../font/BMitra-Bold.svg#Mitra") format("svg")}@font-face{font-family:Nassim;font-weight:normal;font-style:normal;src:url("../font/nassim-regular.eot");src:url("../font/nassim-regular.eot?#iefix") format("embedded-opentype"),url("../font/nassim-regular.woff") format("woff"),url("../font/nassim-regular.ttf") format("truetype"),url("../font/nassim-regular.svg#Nassim") format("svg")}@font-face{font-family:Nassim;font-weight:bold;font-style:normal;src:url("../font/nassim-bold.eot");src:url("../font/nassim-bold.eot?#iefix") format("embedded-opentype"),url("../font/nassim-bold.woff") format("woff"),url("../font/nassim-bold.ttf") format("truetype"),url("../font/nassim-bold.svg#Nassim") format("svg")}

body{font-family:Mitra, Nassim, "Baskerville", Georgia, Times, serif;font-size:20px;-webkit-font-smoothing:antialiased;background-color:#f9f7f4;color:#222;position:relative}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px; }

.container-narrow > hr {
  margin: 30px 0; }

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }
